@import "tailwindcss";

@theme {
  --font-sans: "Inter", var(--font-geist-sans);
  --font-mono: "JetBrains Mono", var(--font-geist-mono);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: var(--font-sans);
}
